{% extends 'base.html' %}
{% block title %}Chicken{% endblock title %}


{% block body %}
<section class="photo">
    <h3 style="text-align: center;">Chicken Roll</h3>
    <img src="/static/img/chicken.jpg" alt="Chicken" class="center" style="display: block; margin-left: auto; margin-right: auto; width: 50%; height: 50%;">
    <h3 style="text-align: center;">Rs 60</h3>
    <a href="/cart"><input type="submit" name="Buy Now" value="Buy now" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"></a>
</section>
{% endblock body %}