{% extends 'base.html' %}
{% block title %}Motton{% endblock title %}


{% block body %}
<section class="photo">
    <h3 style="text-align: center;">Motton Roll</h3>
    <img src="/static/img/motton1.jpg" alt="Motton" class="center" style="display: block; margin-left: auto; margin-right: auto; width: 50%; height: 50%;">
    <h3 style="text-align: center;">Rs 80</h3>
    <a href="/cart"><input type="submit" name="Buy Now" value="Buy now" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"></a>
</section>
{% endblock body %}